#---------------------------------
# General
#---------------------------------
timezone: Asia/Tokyo
remind_minutes_delta: 10

todoist:
  api_token: "yyyyyyyyyyyyyyyyyyyyyyyyyyy"
toggl:
  api_token: "xxxxxxxxxxxxxxxxxxxxxxxxxxx"
  workspace: 7777777
slack:
  url: "https://slack-incoming-webhook-url"
  icon_emoji: ":hoge:"
  icon_url: "https://slack-user-icon"
  mention: yourname
  channel: yourchannel


#---------------------------------
# Message
#---------------------------------
secret_name: ":secret: task"
next_message_format: "      => Next is *{content}* - `{project_name}`"
message_format_by_event:
  "item:added": ":new: *{content}* - `{project_name}`"
  "item:deleted": ":wastebasket: *{content}* - `{project_name}`"
  "item:completed": ":heavy_check_mark: *{content}* - `{project_name}`"
daily_report_format_by_status:
  task_completed: ":empty::white_check_mark: `{elapsed:3} minutes` {name} - `{project_name}`"
  task_not_completed: ":empty::ballot_box_with_check: `{elapsed:3} minutes` {name} - `{project_name}`"
  interrupted_task_completed: ":warning::white_check_mark: `{elapsed:3} minutes` {name} - `{project_name}`"
  interrupted_task_not_completed: ":warning::ballot_box_with_check: `{elapsed:3} minutes` {name} - `{project_name}`"


#---------------------------------
# Grouping
#---------------------------------

# TINA will inform you when tasks belonging to the following projects are hooked
project_by_id:
  123456789:
    name: "Project name"
    toggl_id: 12345678
  987654321:
    name: "Project name"

# TINA notify following events specially even If hooked task is joined no project
special_events:
  start_work:
    id: 11111111
    messages:
      - "Let's work!"
  lunch_start:
    id: 22222222
    messages:
      - "Have a nice lunch!"
      - "What do you want to eat?"
  lunch_end:
    id: 33333333
    messages:
      - ":fb_sad:"
  must_task_completed:
    id: 44444444
    messages:
      - "Yes! you can back to home!!"
  leave_work:
    id: 55555555
    messages:
      - "Bye!!"
      - "Have a nice dinner!"

special_labels:
  private:
    id: 777777
    name: "Private"
