{
    "slack": {
        "url": "https://slack-incoming-webhook-url",
        "icon_url": "https://slack-user-icon"
    },
    "message_format_by_event": {
        "item:added": ":new: *{content}* - `{project_name}`",
        "item:completed": ":heavy_check_mark: *{content}* - `{project_name}`"
    },
    "project_by_id": {
        "123456789": {
            "name": "Project name"
        },
        "012345678": {
            "name": "Project name"
        }
    }
}