{
    "timezone": "Asia/Dhaka",
    "slack": {
        "url": "https://slack-incoming-webhook-url",
        "icon_emoji": ":hoge:",
        "icon_url": "https://slack-user-icon",
        "mention": "yourname",
        "channel": "#yourchannel"
    },
    "toggl": {
        "api_token": "xxxxxxxxxxxxxxxxxxxxxxxxxxx",
        "workspace": 7777777
    },
    "todoist": {
        "api_token": "yyyyyyyyyyyyyyyyyyyyyyyyyyy"
    },
    "special_events": {
      "start-wark": {
        "id": 11111,
        "messages": [
          "Let's work!"
        ]
      },
      "lunch-start": {
        "id": 22222,
        "messages": [
          "Have a nice lunch!",
          "What do you want to eat?"
        ]
      },
      "lunch-end": {
        "id": 33333,
        "messages": [":fb-sad:"]
      },
      "must-task-completed": {
        "id": 44444,
        "messages": ["Yes! you can back to home!!"]
      },
      "leave-work": {
        "id": 55555,
        "messages": [
          "Bye!!",
          "Have a nice dinner!"
        ]
      }
    },
    "message_format_by_event": {
        "item:added": ":new: *{content}* - `{project_name}`",
        "item:deleted": ":wastebasket: *{content}* - `{project_name}`",
        "item:completed": ":heavy_check_mark: *{content}* - `{project_name}`"
    },
    "next_message_format": "      => 次は  *{content}* - `{project_name}` だよ",
    "daily_report_format_by_status": {
      "completed": ":white_check_mark: `{elapsed:3}分` {task} - `{project_name}`",
      "not_completed": ":ballot_box_with_check: `{elapsed:3}分` {task} - `{project_name}`"
    },
    "label_by_name": {
      "private": {
        "id": 652233,
        "name": "Private"
      },
      "meeting": {
        "id": 657538,
        "name": "MTG"
      }
    },
    "secret_name": ":secret:のタスク",
    "project_by_id": {
        "123456789": {
            "name": "Project name",
            "toggl_id": 12345678
        },
        "012345678": {
            "name": "Project name"
        }
    }
}
